.c-wrapper {
    margin: 0px 100px;
}
.c-companies {
    justify-content: space-between;
    gap: 1rem;
}
.c-companies>img {
    width: 9rem;
} 

@media  screen and (max-width: 768px) {
    .c-wrapper {
        margin: 0px 50px;
    }
    
    
    .c-companies>img {
        width: 6rem;
    } 
}
@media  screen and (max-width: 425px) {
    .c-companies>img {
        width: 8rem;
        margin-bottom: 5px;
    } 
    .c-companies {
      align-items: center;
      justify-content: center;
    } 
}
